<div class="wrapper">
    <div class="box-area" (click)="goToList()">
      <div class="icon-area">
        <i class="lni lni-more"></i>
      </div>
      <h6>Consulter</h6>
      <p>Consulter la liste des demandes de congé soumises.
        <br> 
        (Modifier / Supprimer) </p>
    </div>
    <div class="box-area custom" (click)="goToNew()">
      <div class="icon-area">
        <i class="lni lni-add-files"></i>
      </div>
      <h6>Créer</h6>
      <p>Créer une nouvelle demande de congé et attender que l'admin la valide.</p>
    </div>
  </div>
