<div class="container">
    <h1>À Propos de la Plateforme RH</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit sodales nulla, a lacinia massa. 
        Suspendisse potenti. Vivamus rhoncus, velit eget egestas dictum, magna elit auctor nisl, sit amet cursus 
        velit velit sit amet mi. Proin euismod, odio vel venenatis hendrerit, libero tortor eleifend turpis, 
        sit amet convallis ante orci a nulla. Quisque consectetur, urna id convallis congue, erat nisi blandit risus, 
        ut molestie odio nibh a velit.</p>
    <h2>Fonctionnalités de la Plateforme</h2>
    <ul>
      <li>- Gestion des congés</li>
      <li>- Gestion des avances sur salaire</li>
      <li>- Gestion des déclarations des frais professionnels</li>
      <li>- Gestion des informations personnelles</li>
      <li>- Consultaion des documents</li>
    </ul>
    <h2>Comment ça fonctionne</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit sodales nulla, a lacinia massa. 
        Suspendisse potenti. Vivamus rhoncus, velit eget egestas dictum, magna elit auctor nisl, sit amet cursus 
        velit velit sit amet mi. Proin euismod, odio vel venenatis hendrerit, libero tortor eleifend turpis, 
        sit amet convallis ante orci a nulla.</p>
    <h2>Pourquoi utiliser notre Plateforme RH</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit sodales nulla, a lacinia massa. 
        Suspendisse potenti. Vivamus rhoncus, velit eget egestas dictum, magna elit auctor nisl, sit amet cursus 
        velit velit sit amet mi. Proin euismod, odio vel venenatis hendrerit, libero tortor eleifend turpis, 
        sit amet convallis ante orci a nulla.</p>
  </div>